@import "fonts";

* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	background-color: #555;
}

#display {
	max-width: 600px;
	max-height: 600px;
	width: 50vw;
	margin: 20px auto;

	& .canvas-container,
	& .toolbar-container {
		border-radius: 7px;
		overflow: hidden;
		box-shadow: 0px 0px 2px 1px rgba(51, 51, 51, 0.8);
		background-color: white;
		margin-top: 10px;

		& canvas,
		& .toolbar {
			width: 100%;
			height: auto;

			&.toolbar {

				padding: 5%;
				text-align: center;
				padding: 5%;
    			font-size: 20px;

				& input {
					padding: 3px;
					font-size: 20px; 
					text-align: center;
					width: 50px;
					border: 1px solid #444;
					border-radius: 4px;
					vertical-align: baseline;
					margin: 0 10px 0 3px;
				}

				& button {
					border: 1px solid #444;
					font-size: 16px; 
					border-radius: 4px;
					background-color: white;
					padding: 5px 10px;
					color: #222;
					outline: none;
					cursor: pointer;
					vertical-align: bottom;

					&:hover {
						border-color: #777;
						color: #666;
					}
				}

				@media (max-width: 504px) {
					
					font-size: 16px;

					& input {
						padding: 3px;
						font-size: 16px; 
						text-align: center;
						width: 34px;
						margin: 0 8px 0 2px;
					}

					& button {
						font-size: 14px; 
						padding: 4px 7px;
					}
				}
			}
		}
	}

	@media (min-width: 768px) { min-width: 480px; }

	@media (max-width: 767px) { width: 80vw; }

	@media (max-width: 576px) { width: 90vw; }
}
