@import url('https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323');

.rubik {
	font-family: 'Rubik', sans-serif;
}
.pacifico {
	font-family: 'Pacifico', cursive;
}
.quicksand {
	font-family: 'Quicksand', sans-serif;
}
.inconsolata {
	font-family: 'Inconsolata', monospace;
}
.cabin {
	font-family: 'Cabin', sans-serif;
}
.vt323 {
	font-family: 'VT323', monospace;
}
.nunito {
	font-family: 'Nunito', sans-serif;
}
.nunito-sans {
	font-family: 'Nunito Sans', sans-serif;
}